{% extends "admin.layouts.app" %}

{% block title %}Телефоны{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">


            <div class="row" style="padding-top: 24px">
                <form action="{{ route('admin_query_insert') }}" method="post">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="sr-only">Текст запроса (поисковая фраза)</label>
                            <input type="text" name="query" class="form-control" value="" placeholder="Текст запроса (поисковая фраза)">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить</button>
                    </div>
                </form>
            </div>


            <h1>Телефоны (Всего: {{ list.total }})</h1>

            {% if list.total > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Запрос</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td class="text-nowrap">{{ item.name }}</td>
                        <td><a href="{{ route('admin_query_view', { id: item.id }) }}">редактировать</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}